In [1]:
from astroquery.utils.tap.core import TapPlus
import importlib
import matplotlib.pyplot as plt
import pandas as pd
import sys
sys.path.append('../../')

from astroLuSt.database_interface import database_utils as aldidu

importlib.reload(aldidu)

#style for plotting
plt.style.use('astroLuSt.styles.LuSt_style')

2024-11-05 19:51:40.430730: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

# `query_upload_table()`

In [2]:
importlib.reload(aldidu)

df = pd.DataFrame(data={
    'id':[
        4295806720, 38655544960, 343597448960,
        549755818112, 828929527040, 1275606125952,
        1340029955712, 1374389600384, 1619203481984,
        1653563247744, 2199023259904, 2546916445184,
        2851858288640, 2920577765120, 2989297243776,
        3062312520192, 3332894779520, 3371550165888,
    ]
}, dtype=int)
query = f"""
    SELECT ut.*, sh.Source
    FROM tap_upload.upload_table AS ut INNER JOIN
        "I/354/starhorse2021" AS sh
            ON ut.id = sh.Source
"""


tap = TapPlus(
    url='http://tapvizier.cds.unistra.fr/TAPVizieR/tap',
    tap_context=None,
    verbose=True,
)

df_res = aldidu.query_upload_table(
    tap=tap, query=query,
    df_upload=df,
    upload_table_name='upload_table',
    query_async=False,  #no asynchronous query needed, as table is small
    nsplits=3,
    verbose=2,
    parallel_kwargs=dict(n_jobs=3, verbose=3),
    launch_job_kwargs=dict(verbose=False),
)

df_res

Created TAP+ (v20200428.1) - Connection:
	Host: tapvizier.cds.unistra.fr
	Use HTTPS: False
	Port: 80
	SSL Port: 443

/home/lukas/venvs/astroLuSt/lib/python3.10/site-packages/numpy/core/fromnumeric.py:59: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)
[Parallel(n_jobs=3)]: Using backend LokyBackend with 3 concurrent workers.
2024-11-05 19:51:44.218725: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-11-05 19:51:44.280419: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-11-05 19:51:44.280423: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

INFO(query_upload_table): Extracting split 2/3 (len(split): 6)
INFO(query_upload_table): Extracting split 1/3 (len(split): 6)
INFO(query_upload_table): Extracting split 3/3 (len(split): 6)
    WARNING(query_upload_table): HTTPError when extracting split #2/3, hence ignoring. Error 500: Impossible to create the uploaded table: TAP_UPLOAD.upload_table_1730832706277!

[Parallel(n_jobs=3)]: Done   3 out of   3 | elapsed:    9.0s finished

              id         Source
0     4295806720     4295806720
1    38655544960    38655544960
2   343597448960   343597448960
3   549755818112   549755818112
4   828929527040   828929527040
5  1275606125952  1275606125952
0  2851858288640  2851858288640
1  2920577765120  2920577765120
2  2989297243776  2989297243776
3  3062312520192  3062312520192
4  3332894779520  3332894779520
5  3371550165888  3371550165888